/* HEADER */

header {
    height: 60px;
    color: white;
    line-height: 60px;
    background-color: #ff6801;
}

.nav {
    display: flex;
    gap: 1rem;
    color: #fff;
}

.header-content {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    height: 100%;
}

.logo a img {
    height: 50%;
    vertical-align: middle;
}

/* MAIN */

.card {
    width: 32%;
    margin-bottom: 6rem;
    flex-direction: column;


    /* Debug */
    /* background-color: red; */
    height: 550px;
}

.testo {}

.description {
    font-weight: 600;
}

.current-price {
    color: red;
    font-weight: 600;
}

.old-price {
    text-decoration: line-through;
}

.main-content {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem 0;
    justify-content: space-between;
}

.pics {
    position: relative;
    height: 100%;
}

.pics>span {
    position: absolute;
}

.second {
    display: none;
}

.pics:hover .first {
    display: none;
}

.pics:hover .second {
    display: block;
}

.hearts:hover {
    color: red;
    cursor: pointer;
}

/* FOOTER */

footer {
    height: 100px;
    line-height: 100px;

    /* Debug */
    background-color: #333;
    color: white;
}

.foot {
    justify-content: space-between;
}