/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.c-flex {
	display: flex;
}

ul {
	list-style-type: none;
}

li,
a {
	text-decoration: none;
	color: currentColor;
}

.discount {
	background-color: #ff0000;
	color: #fff;
	bottom: 5px;
	left: 0;
	bottom: 40px;
	font-weight: 600;
	padding: .2rem .6rem;
	font-size: .8rem;
}

.sustainable {
	background-color: #008001;
	color: #fff;
	bottom: 5px;
	left: 55px;
	bottom: 40px;
	font-weight: 600;
	padding: .2rem .6rem;
	font-size: .8rem;
}