/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.c-flex {
	display: flex;
}

ul {
	list-style-type: none;
}

li,
a {
	text-decoration: none;
	color: currentColor;
}